


<ul>
  <li>
    <h2 class="legend fl">M</h2>
    <h4 class="path-titles fl">Move To</h4>
  </li>
  <li>
    <h2 class="legend fl">Z</h2>
    <h4 class="path-titles fl">Close Path</h4>
  </li>
  <li>
    <h2 class="legend fl">L</h2>
    <h4 class="path-titles fl">Returning Path</h4>
  </li>
  <li>
    <h2 class="legend fl">H</h2>
    <h4 class="path-titles fl">Returning Path</h4>
  </li>
  <li>
    <h2 class="legend fl">V</h2>
    <h4 class="path-titles fl">Returning Path</h4>
  </li>
</ul>  
