<!-- Name the Middleware title here - It will get added to each page -->
<% @title = "SYMBOLS" %><% @subtitle = "syntax and meaning" %>  

<div class="row"> 
  <div class="col-md-4">
    <!-- Movement Icons  -->
    <div id="target" class="fl"></div>
    <div id="arrowright" class="fl"></div>
    <div id="arrow-right-wide" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="circleband" class="fl"></div>
    <div id="arrowleft" class="fl"></div>
    <div id="arrow-left-wide" class="fl"></div> <!-- This icon was hand-drawn -->
    
    <!-- Start and End Point Icons  -->
    <div id="starting_point" class="fl"></div>
    <div id="ending_point" class="fl"></div>
    <div id="arrow-right-wide2" class="fl"></div> <!-- This icon was hand-drawn -->
  </div>

  <div class="col-md-4">
    <!-- Movement Icons  -->
    <div id="open-target" class="fl"></div>
    <div id="open-arrowright" class="fl"></div>
    <div id="open-arrow-right-wide" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="open-circleband" class="fl"></div>
    <div id="open-arrowleft" class="fl"></div>
    <div id="open-arrow-left-wide" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="zoom" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="plus" class="fl"></div>
    <div id="minus" class="fl"></div>
  </div>
  
    <div class="col-md-4">
      <div id="dot" class="fl"></div>
      <div id="happy" class="fl"></div>
      <div id="sad" class="fl"></div>
      <div id="code-tag" class="fl"></div>
      <div id="burst" class="fl"></div>
      <div id="burst-orange" class="fl"></div>
      <div id="computer-tag" class="fl"></div>
      <div id="arrow-left" class="fl"></div>
      <div id="arrow-down" class="fl"></div>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="greenline" class="fl"></div>
    <h4 class="icon-titles fl">Starting Active Path</h4>
    <div id="blackline"class="fl"></div>
     <h4 class="icon-titles fl">Scaffolding of Journey</h4>
    <div id="blueline"class="fl"></div>
    <h4 class="icon-titles fl">Returning Path</h4>
    
    <p class="tall">
      These core icons will showcase both the static and dynamic 
      parts of a Middleware journey. Most have been
      created with <a href="http://www.readysetraphael.com/#"> RSR</a>, an SVG online plugin,while others have been 
      calculated individually. The legend explains the commands inside each path.  
    </p>  
  </div>
  <div class="col-md-8">
    <table class="table">
       <caption>The Basics of a Raphael Command Inside a Path</caption>
       <thead>
          <tr>
             <th>NAME</th>
             <th>ACTION</th>
             <th>PARAMETER</th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <td><h2 class="legend fl">M</h2></td>
             <td><h4 class="path-titles fl">Move To</h4></td>
             <td><h4 class="path-titles fl">(xy)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">Z</h2></td>
            <td><h4 class="path-titles fl">Close Path</h4></td>
            <td><h4 class="path-titles fl">(none)</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">L</h2></td>
            <td><h4 class="path-titles fl">Line To</h4></td>
            <td><h4 class="path-titles fl">(xy)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">H</h2></td>
            <td><h4 class="path-titles fl">Horizontal Line To</h4></td>
            <td><h4 class="path-titles fl">x+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">V</h2></td>
            <td><h4 class="path-titles fl">Vertical Line To</h4></td>
            <td><h4 class="path-titles fl">y+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">C</h2></td>
            <td><h4 class="path-titles fl">Curve To</h4></td>
            <td><h4 class="path-titles fl">(x1 y1 x2 y2 x y)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">S</h2></td>
            <td><h4 class="path-titles fl">Smooth Curve To</h4></td>
            <td><h4 class="path-titles fl">(x2 y2 x y)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">Q</h2></td>
            <td><h4 class="path-titles fl">Quadratic Bézier Curve To</h4></td>
            <td><h4 class="path-titles fl">(x1 y1 x y)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">T</h2></td>
            <td><h4 class="path-titles fl">Smooth Quadratic Bézier Curve To</h4></td>
            <td><h4 class="path-titles fl">(xy)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">A</h2></td>
            <td><h4 class="path-titles fl">Elliptical Arc</h4></td>
            <td><h4 class="path-titles fl">(rx ry x-axis-rotation large-arc-flag sweep-flag x y)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">R</h2></td>
            <td><h4 class="path-titles fl">Catmull-Rom curve to*</h4></td>
            <td><h4 class="path-titles fl">x1 y1 (xy)+</h4></td>
          </tr>
          <tr>
            <td><h2 class="legend fl">R</h2></td>
            <td><h4 class="path-titles fl">Catmull-Rom curve to*</h4></td>
            <td><h4 class="path-titles fl">x1 y1 (xy)+</h4></td>
          </tr>
       </tbody>
    </table>
  </div>
</div>



