<!-- Name the Middleware title here - It will get added to each page -->
<% @title = "SYMBOLS" %><% @subtitle = "syntax and meaning" %>  

<div class="row"> 
  <div class="col-md-4">
    <!-- Movement Icons  -->
    <div id="target" class="fl"></div>
    <div id="arrowright" class="fl"></div>
    <div id="arrow-right-wide" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="circleband" class="fl"></div>
    <div id="arrowleft" class="fl"></div>
    <div id="arrow-left-wide" class="fl"></div> <!-- This icon was hand-drawn -->
    
    <!-- Start and End Point Icons  -->
    <div id="starting_point" class="fl"></div>
    <div id="ending_point" class="fl"></div>
    <div id="arrow-right-wide2" class="fl"></div> <!-- This icon was hand-drawn -->
  </div>

  <div class="col-md-4">
    <!-- Movement Icons  -->
    <div id="open-target" class="fl"></div>
    <div id="open-arrowright" class="fl"></div>
    <div id="open-arrow-right-wide" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="open-circleband" class="fl"></div>
    <div id="open-arrowleft" class="fl"></div>
    <div id="open-arrow-left-wide" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="zoom" class="fl"></div> <!-- This icon was created by the rsr site -->
    <div id="plus" class="fl"></div>
    <div id="minus" class="fl"></div>
  </div>
  
    <div class="col-md-4">
      <div id="dot" class="fl"></div>
      <div id="happy" class="fl"></div>
      <div id="sad" class="fl"></div>
      <div id="code-tag" class="fl"></div>
      <div id="burst" class="fl"></div>
      <div id="burst-orange" class="fl"></div>
      <div id="computer-tag" class="fl"></div>
      <div id="arrow-left" class="fl"></div>
      <div id="arrow-down" class="fl"></div>
    </div>
</div>
<div class="row">
  
</div>

