<!-- Name the Middleware title here - It will get added to each page -->
<% @title = "SYMBOLS" %><% @subtitle = "syntax and meaning" %>  

<div class="row"> 
  <div class="col-md-4">
    <div id="large-icons"></div>
  </div>
</div>


