<!-- Name the Middleware title here - It will get added to each page -->
<% @title = "SYMBOLS" %><% @subtitle = "syntax and meaning" %>  

<div class="row"> 
  <div class="col-md-5">
    <!-- Larger Icons  -->
    <div id="target" class="fl"></div>
    <div id="arrowright" class="fl"></div>
    <div id="arrow-right-wide" class="fl"></div>
    <div id="circleband" class="fl"></div>
    <div id="arrowleft" class="fl"></div>
    <div id="arrow-left-wide" class="fl"></div>
    <div id="arrow-right-wide2" class="fl"></div>
    
    <!-- Smaller Icons  -->
    <div id="starting_point" class="fl"></div>
    <div id="ending_point" class="fl"></div>
  </div>
</div>


