<!-- Name the Middleware title here - It will get added to each page -->
<% @title = "Rack MiddleWare: GET" %> 

<div class="row"> 
  <div class="col-md-3">
    <div id='client-side'></div>
  </div>
  <div class="col-md-2">
    <div id='middleware-1'></div>
  </div>
  <div class="col-md-2">
    <div id='middleware-2'></div>
  </div>
  <div class="col-md-2">
    <div id='middleware-3'></div>
  </div>
  <div class="col-md-3">
    <div id='rackrails'></div>
  </div>
</div>


