@charset "UTF-8";
.fl {
  float: left;
}

.fr {
  float: right;
}

.lines {
  height: 20px;
}

.md-margin-bottom-40 {
  margin-bottom: 40px;
}

h1 h1, h1 h2, h1 h3, h1 h4, h1 h5, h1 h6, h2 h1, h2 h2, h2 h3, h2 h4, h2 h5, h2 h6, h3 h1, h3 h2, h3 h3, h3 h4, h3 h5, h3 h6, h4 h1, h4 h2, h4 h3, h4 h4, h4 h5, h4 h6, h5 h1, h5 h2, h5 h3, h5 h4, h5 h5, h5 h6, h6 h1, h6 h2, h6 h3, h6 h4, h6 h5, h6 h6, p h1, p h2, p h3, p h4, p h5, p h6 {
  color: #111111;
  margin: 1em 0;
}
h1 h1, h2 h1, h3 h1, h4 h1, h5 h1, h6 h1, p h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 1.099;
  margin: 0.75em 0;
}
h1 h2, h2 h2, h3 h2, h4 h2, h5 h2, h6 h2, p h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.099;
}
h1 h3, h2 h3, h3 h3, h4 h3, h5 h3, h6 h3, p h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.169;
  margin: 1.25em 0 0.5em;
}
h1 h4, h2 h4, h3 h4, h4 h4, h5 h4, h6 h4, p h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.26;
  margin: 0.5em 0 0.5em;
}
h1 h5, h2 h5, h3 h5, h4 h5, h5 h5, h6 h5, p h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
  margin: 0.65em 0;
}
h1 h6, h2 h6, h3 h6, h4 h6, h5 h6, h6 h6, p h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}

p.tall {
  color: gray;
  display: inline-block;
  font-family: "kepler-std-display",serif;
  font-size: 1.7em;
  line-height: 2.65em;
  padding: 30px 14px 0px 0px;
}

h2.legend {
  font-family: "museo-slab", serif;
  margin: 5px 0px;
}

h3.title, h4.subtitle, h4.icon-titles {
  font-family: "museo-slab", serif;
  color: gray;
  height: 44px;
  display: inline-block;
  padding-right: 10px;
}

h4.subtitle, h4.icon-titles, h4.path-titles {
  font-family: "kepler-std-display",serif;
  letter-spacing: 0.06em;
  height: 44px;
}

h4.icon-titles {
  height: 22px;
  padding-left: 20px;
}

h4.path-titles {
  height: 22px;
  padding-left: 0px;
  font-size: 17px;
}

ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, li ul, li ol, li dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
ul ul, ul ol, ul dd, ol ul, ol ol, ol dd, li ul, li ol, li dd {
  padding-left: 2.25em;
}
ul ul, ol ul, li ul {
  list-style: disc;
}
ul ol, ol ol, li ol {
  list-style: decimal;
}
ul li, ol li, li li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
}
ul dt, ol dt, li dt {
  margin-top: 1em;
}
ul dd, ol dd, li dd {
  margin-bottom: 1em;
}

.mission, .mission h3 {
  padding-right: 30px;
  line-height: 1.75em;
}

svg {
  height: 100%;
  width: 100%;
}

html, body {
  background: white;
}

body {
  color: #333333;
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
  font-size: 110%;
  line-height: 1.4;
}

.links a:link, .content a:link, section[role=main] > article a:link {
  color: #202328;
  text-decoration: underline;
}
.links a:visited, .content a:visited, section[role=main] > article a:visited {
  color: #aa7722;
}
.links a:hover, .content a:hover, section[role=main] > article a:hover {
  color: #eb6924;
  text-decoration: underline;
}
.links a.more, .content a.more, section[role=main] > article a.more {
  white-space: nowrap;
}
.links a.more:after, .content a.more:after, section[role=main] > article a.more:after {
  content: " »";
}

.typography strong, .content strong, section[role=main] > article strong, .typography b, .content b, section[role=main] > article b {
  color: black;
  font-weight: bold;
}
.typography em, .content em, section[role=main] > article em, .typography i, .content i, section[role=main] > article i {
  font-style: italic;
}
.typography abbr, .content abbr, section[role=main] > article abbr, .typography acronym, .content acronym, section[role=main] > article acronym {
  border-bottom: 1px dotted #999999;
}
.typography sub, .content sub, section[role=main] > article sub, .typography sup, .content sup, section[role=main] > article sup {
  font-size: 85%;
}
.typography sub, .content sub, section[role=main] > article sub {
  vertical-align: sub;
}
.typography sup, .content sup, section[role=main] > article sup {
  vertical-align: super;
}
.typography span.caps, .content span.caps, section[role=main] > article span.caps {
  font-size: 95%;
}
.typography h1, .content h1, section[role=main] > article h1, .typography h2, .content h2, section[role=main] > article h2, .typography h3, .content h3, section[role=main] > article h3, .typography h4, .content h4, section[role=main] > article h4, .typography h5, .content h5, section[role=main] > article h5, .typography h6, .content h6, section[role=main] > article h6 {
  color: #111111;
  margin: 1em 0;
}
.typography h1, .content h1, section[role=main] > article h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 1.099;
  margin: 0.75em 0;
}
.typography h2, .content h2, section[role=main] > article h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.099;
}
.typography h3, .content h3, section[role=main] > article h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.169;
  margin: 1.25em 0 0.5em;
}
.typography h4, .content h4, section[role=main] > article h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.26;
  margin: 0.5em 0 0.5em;
}
.typography h5, .content h5, section[role=main] > article h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
  margin: 0.65em 0;
}
.typography h6, .content h6, section[role=main] > article h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}
.typography p, .content p, section[role=main] > article p {
  margin: 1em 0;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dl, .content dl, section[role=main] > article dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dd, .content dd, section[role=main] > article dd {
  padding-left: 2.25em;
}
.typography ul, .content ul, section[role=main] > article ul {
  list-style: disc;
}
.typography ol, .content ol, section[role=main] > article ol {
  list-style: decimal;
}
.typography li, .content li, section[role=main] > article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
}
.typography dt, .content dt, section[role=main] > article dt {
  margin-top: 1em;
}
.typography dd, .content dd, section[role=main] > article dd {
  margin-bottom: 1em;
}
.typography code, .content code, section[role=main] > article code, .typography dfn, .content dfn, section[role=main] > article dfn, .typography kbd, .content kbd, section[role=main] > article kbd, .typography samp, .content samp, section[role=main] > article samp, .typography tt, .content tt, section[role=main] > article tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #666666;
}
.typography pre, .content pre, section[role=main] > article pre {
  background: #666666;
  color: #cccccc;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.content .box, section[role=main] > article .box {
  background: #efeacf;
  border: 1px solid #e2d9a9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 1.5em -1em;
  padding: 1px 1em;
}

header[role=banner] {
  background: rgba(0, 0, 0, 0) url("/images/middle.png") 1px 0 no-repeat;
  background-size: 99.8%;
  position: relative;
  height: 237px;
  overflow: initial;
}
header[role=banner] .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
header[role=banner] .navbar-default .navbar-nav > li > a {
  text-transform: lowercase;
}
header[role=banner] .navbar-default .navbar-nav > .active > a,
header[role=banner] .navbar-default .navbar-nav > li > a:hover, header[role=banner] .navbar-default .navbar-nav > li > a:focus {
  color: #eb6924;
  background-color: rgba(0, 0, 0, 0);
}
header[role=banner] .navbar-default .navbar-collapse, header[role=banner] .navbar-default .navbar-form {
  border-color: #202328;
  font-family: "museo-slab", serif;
  font-size: 14px;
  font-weight: 700;
  border-width: 15px 0 3px;
  border-style: solid;
  padding: 5px;
  margin-top: 65px;
  background-color: rgba(255, 255, 255, 0.85);
  overflow-x: hidden;
}
header[role=banner] .navbar-header .navbar-brand {
  margin-top: 87px;
  font-family: "museo-slab", serif;
  font-weight: 700;
  font-size: 35px;
}
header[role=banner] .navbar-nav {
  margin: 0px -15px;
}
header[role=banner] .navbar-header .message {
  margin-top: 87px;
  font-family: "kepler-std-display",serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.06em;
  width: 310px;
  padding: 15px 5px;
  float: left;
  color: #666666;
}
header[role=banner] a:link {
  color: #202328;
  text-decoration: none;
}
header[role=banner] a:visited {
  color: #202328;
}
header[role=banner] a:hover {
  color: #eb6924;
  text-decoration: none;
}
header[role=banner] .action-link {
  position: absolute;
  right: 15%;
  top: 55px;
}
header[role=banner] .action-link a {
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: block;
  padding: 0.5em 1em;
  text-shadow: #7f7f7f 0 1px 0;
}
header[role=banner] .action-link a:after {
  content: " ⇢";
}
header[role=banner] .navbar-toggle {
  background-color: white;
  margin-top: 14px;
  margin-right: 12px;
}
header[role=banner] .navbar-default .navbar-toggle:hover .icon-bar {
  background-color: white;
}
header[role=banner] .navbar-default .navbar-toggle:hover, header[role=banner] .navbar-default .navbar-toggle:focus {
  background-color: #eb6924;
}

body > section[role=main] .container {
  padding: 15px 15px 0;
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 40px;
}

main[role=main] a:link {
  color: #666666;
  text-decoration: none;
}
main[role=main] a:visited {
  color: #666666;
}
main[role=main] a:hover {
  color: #eb6924;
  text-decoration: none;
}

body > footer {
  position: inherit;
  bottom: 0;
  background-color: #202328;
  padding: 20px 0px 55px;
  font-size: 85%;
  color: gray;
  width: 100%;
}
body > footer a:link {
  color: #666666;
  text-decoration: none;
}
body > footer a:visited {
  color: #666666;
}
body > footer a:hover {
  color: #eb6924;
  text-decoration: none;
}
body > footer p {
  margin: 1em 0;
}
body > footer .headline {
  font-family: "museo-slab", serif;
  color: white;
  margin-bottom: 0px;
}

@media screen and (max-width: 462px) {
  header[role=banner] {
    height: auto;
  }
  header[role=banner] .navbar-header .message {
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 32px !important;
    max-width: 230px !important;
  }
  header[role=banner] .navbar-header .navbar-brand {
    background-color: rgba(255, 255, 255, 0.85);
  }
}
@media screen and (max-width: 767px) {
  header[role=banner] {
    height: auto;
  }
  header[role=banner] .navbar-header .message {
    background-color: rgba(255, 255, 255, 0.85);
    max-width: 235px;
  }
  header[role=banner] .navbar-header .navbar-brand {
    background-color: rgba(255, 255, 255, 0.85);
  }
  header[role=banner] .navbar-default .navbar-collapse {
    margin-top: 10px !important;
  }
}
