@import "compass";

// Theme Colors
$background-color: white;
$almost-black: #202328;
$steel-grey: #666666;
$orange: #eb6924; // burnt orange  
$tan: #b89873;                      
$copper: #bd6828;            
$rust: #9C5349;                                              
$off-white: #e1dfdc;
$aqua:#759791;
$aqua-matte: #9ab9b4;
$olive: #98bb3a;
$plum: #6F6C86;
$matte-yellow: #CCCF8B;
$crimson: #AE5682;
$banner-color: white;

// Reversed?
$reversed-text: false;
@import "modules/utility";

// Base Font
$base-font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
$base-font-size: 110%;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Text Colors
$text-color: #333333;
$loud-color: strengthen($text-color);
$quiet-color: soften($text-color, 1.5);
$header-color: strengthen($text-color, 0.66);

// Link Colors
$link-color: $almost-black; // black
$link-visited-color: #a72;
$link-hover-color: #eb6924; // burnt orange

// Paragraphs
$indented-paragraphs: false;

// Layout
$body-margin-x: 15%;
.fl { float: left; }
.fr { float: right; }

// Border Radius
$default-border-radius: 8px;

// Margins
.md-margin-bottom-40 { margin-bottom: 40px; }

@import "modules/all";

$baseline: 22px;
// Basic styles
h1, h2, h3, h4, h5, h6 {
  @include headings;
}

h3.title, h4.subtitle {
   font-family: "museo-slab", serif;
   color: $quiet-color;
   height: $baseline *2;
   display: inline-block;
   padding-right: 10px;
}

h4.subtitle {
  font-family: "kepler-std-display",serif;
  letter-spacing: 0.06em;
}






//@include global-reset;
//@include reset-html5; 

html, body { background: $background-color; }
body { @include base-font; }