//
// Basic layout and styles for site
//


header[role=banner] {
  background: rgba(0, 0, 0, 0) url('/images/middle.png') 0 0 no-repeat;
  background-position: 55% -7%;
  background-size: 93%;
  padding: 20px $body-margin-x;
  position: relative;
  height: 400px;
  
  .navbar-default{
    background-color: rgba(white, 0.85);
  }
  .navbar-default .navbar-nav > li > a {
    text-transform: lowercase;
  }
  .span {
    text-transform: uppercase;
  }
  
  
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $orange;
    background-color: rgba(0, 0, 0, 0);
    
  }
  
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $almost-black;
    border-width: 2px 0 5px;
    border-style: solid;
    padding: 5px;
    margin-top: 50px;   
  }
  .navbar-header {
    margin-top: 60px;
    > span {
      font-family: 'Times';
      width: 310px;
      padding: 15px 15px;
      font-size: 15px;
      line-height: 17px;
      height: 50px;
      float: left;
      color: $steel-grey ;
    }
  }
  
  .navbar-nav {
    float: right;
    margin: 0px -15px;
  }
  
  a { @include basic-link($hover: $orange, $decoration: "plain"); }
  
  .action-link {
    position: absolute;
    right: $body-margin-x;
    top: 55px;
    a {
      background: rgba(white, 0.1);
      @include border-radius;
      display: block;
      padding: 0.5em 1em;
      @include text-shadow(mix($banner-color, black, 50%) 0 1px 0);
      &:after { content: " ⇢"; }
    }
  }
}

body > section[role=main] .container {
  padding: 150px 15px 0;
}

body > footer {
  position: absolute;
  bottom: 0;
  background-color: $almost-black;
  padding: 0 $body-margin-x 20px;
  font-size: 90%;
  color: $quiet-color;
  a { @include basic-link($text-color); }
  p { margin: 1em 0; }
}
